.msger_left_msg, .msger_shown_name {
    word-wrap: break-word;
}

.card-container-first-row, .card-container-second-row  {
    text-align: left;
    word-wrap: break-word;
    padding-left: 5%;
}
.card-container-third-row {
    text-align: right;
    display: block;
    padding-right: 10%;
}

.msg-cards {
    list-style: none;
    text-align: center;
}

.card-container {
    background-color: transparent;
    flex-wrap: nowrap;
}


.cards{
    padding: 20px 40px;
}


.card-button {
    text-decoration: none;
    outline: none;
    background-color: transparent;
    border:none;
    text-align: right;
}
.fas {
    color: whitesmoke;
    background-color: transparent;
    size: 20px;
}
.fas:hover{
    color: #fbc8ec;
    transition: 0.1s;
}

#msger_content, #msger_name{
    resize: none;
    background-color: transparent;
    outline: none;
    border-radius: 3px;
}



