@media screen {

}
.card-container-first-row, .card-container-second-row  {
    white-space: nowrap;
    text-align: left;
    display: block;
}
.card-container-third-row {
    text-align: right;
    display: block;
}

.msg-cards {
    list-style: none;
}

.cards{
    padding: 20px 40px 20px 40px;
    text-align: center;
}

/*.card-container {
    box-shadow: 3px 3px 3px 3px grey;
    text-align: center;
    padding: 15px 40px 15px 40px;
    margin-bottom: 20px;
    margin-top:20px;
    opacity:0.8;
    filter: blur(2px);
}*/

/*.card-container:hover{
    box-shadow: 3px 3px 3px 3px #fbc8ec;
    opacity: 1;
    filter:blur(0);
    transition: 0.2s;
}*/

.card-button {
    text-decoration: none;
    outline: none;
    background-color: transparent;
    border:none;
}
.fas {
    color: #FFFFFF;
    background-color: transparent;
    size: 20px;
}
.fas:hover{
    color: #fbc8ec;
    transition: 0.1s;
}

#msger_content, #msger_name{
    resize: none;
    background-color: transparent;
    outline: none;
    border-radius: 3px;
}

.msg_block_header {
    /*transform: translateX(0px) translateY(0px);
    transition-property: opacity,transform;
    transition-duration: 750ms, 750ms;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;*/

    position: relative;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
    font-size: 2rem;
}

#msg_block:after {
    content:"";
    display: table;
    clear:both;
}
#msg_block {
    /*top right bottom left*/
    margin: 40px 20px 40px 20px;
}

#msg_block_stored_msg, #msg_block_added_msg{
    width: 40%;
    background-color: transparent;
    text-align: center;
}

.column{
    float: left;
    padding: 10px;
    height: 300px;
    text-align: center;
}
.row {
    text-align: center;
}

.nav-buttons:hover{
    color: #fbc8ec;
    transition: 0.27s;
}
.nav-buttons{
    display:inline-block;
    padding: 10px 17px 10px 17px;
    color: black;
    text-decoration: none;
}

#nav-menu {
    text-align: center;
}

#nav-bar {
    top:0;
    position: fixed;
    width: 100%;
    display: block;
    padding-top:15px;
    padding-bottom: 15px;
    text-align: center;
    z-index: 1;

}
#container-div {
    display: block;
    text-align: center;
    background-color: transparent;
    margin-top: 70px;
}

span{
    width: 100%;
    position: static;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 3rem;
    text-align: center;
}
img {
    position: relative;
    z-index: 1;
}

.button_stuff{
    position:relative;
    z-index: 1000;
    background-color: #fbc8ec;
    color: #FFFFFF;
    outline: none;
    border: none;
}
.button_stuff:hover{
    background-color: black;
    color: #fbc8ec;
    transition:0.2s;
}

#picture {
    width: 50%;
    z-index: 0;
}

*{
    background-color: #b7bad6;
    font-family: Titillium Web;
}