.card-container-first-row, .card-container-second-row, .card-container-third-row  {
    text-align: center;
    word-wrap: break-word;
    padding: 10px 2px 5px 5px;
    display: block;
  }
  .card-container-first-row {
    font-weight: bold;
    font-size: 20px;
  }
  
  .card-container {
    background-color: transparent;
    flex-wrap: nowrap;
    text-align: center;
    border-radius: 3px;
    display: block;
    box-shadow: 3px 3px 3px 3px gray;
    margin:5px;
  }
  
  .msg_block{
    display: inline-block;
    text-align: center;
    margin: 30px;
    padding: 30px 50px 30px 50px;
    width: 50%;
    background-color: transparent;
    box-shadow: 3px 3px 3px 3px gray;
    word-wrap: break-word;
  }
  
  .button_icon{
    background-color: transparent;
    margin-right: 5px;
  }
  
  .button_stuff{
    position:relative;
    background-color: #fbc8ec;
    color: whitesmoke;
    outline: none;
    border: none;
    z-index: 0;
  }
  
  .button_stuff:hover{
    background-color: #2c2c2c;
    color: #fbc8ec;
    transition:0.2s;
  }
  .title-ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    /*justify-content: defines how the browser distributes space between
    and around content items along the main-axis of a flex container,
    and the inline axis of a grid container.*/
    justify-content: center;
    align-items: center;
    place-items: center;
    height:100vh;
    font-size: 60px;
  }
  
  #container-div {
    /*display: block;*/
    text-align: center;
    background-color: transparent;
    /*margin-top: 70px;*/
  }
  
  .nav-buttons:hover{
    color: whitesmoke;
    transition: 0.27s;
  }
  .nav-buttons{
    display:inline-block;
    padding: 10px 17px 10px 17px;
    color: #fbc8ec;
    text-decoration: none;
    background-color: transparent;
  }
  
  #nav-menu {
    text-align: center;
    background-color: transparent;
  }
  
  #nav-bar {
    top:0;
    position: fixed;
    width: 100%;
    display: block;
    padding-top:15px;
    padding-bottom: 15px;
    text-align: center;
    z-index: 5;
    background-color: #2c2c2c;
  }
  
  #message_cards{
    display: inline-grid;
    grid-gap: 10px;
    text-align: center;
    word-wrap: break-word;
  }
  
  body{
    text-align: center;
  }
  
  .row_column {
    display: inline-grid;
    grid-gap: 10px;
    word-wrap: break-word;
  }
  
  * {
    flex-wrap: nowrap;
    background-color: #b7bad6;
    font-family: Titillium Web;
    box-sizing: border-box;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  